openapi: 3.0.3
info:
  title: VirtualMD Partner Booking API
  version: 1.1.0
  description: API servidor a servidor para consultar la oferta y crear o reprogramar citas en Amelia sin procesar pagos.
servers:
  - url: https://virtualmd.mx/wp-json/virtualmd-partners/v1
security:
  - bearerAuth: []
paths:
  /health:
    get:
      operationId: getHealth
      summary: Verificar dependencias
      responses:
        '200':
          description: API lista
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HealthResponse' }
        '503':
          description: API activa pero con alguna dependencia pendiente.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HealthResponse' }
  /catalog:
    get:
      operationId: getCatalog
      summary: Consultar categorías y servicios disponibles
      responses:
        '200':
          description: Catálogo actual
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/Category' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /doctors:
    get:
      operationId: getDoctors
      summary: Consultar doctores
      parameters:
        - in: query
          name: service_id
          schema: { type: integer, minimum: 1 }
          description: Filtra doctores con disponibilidad para el servicio.
      responses:
        '200':
          description: Doctores visibles
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/Doctor' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /availability:
    get:
      operationId: getAvailability
      summary: Consultar horarios libres
      parameters:
        - in: query
          name: service_id
          required: true
          schema: { type: integer, minimum: 1 }
        - in: query
          name: provider_id
          schema: { type: integer, minimum: 1 }
        - in: query
          name: from
          schema: { type: string, format: date }
        - in: query
          name: to
          schema: { type: string, format: date }
          description: Máximo 31 días y dentro de los próximos 3 meses.
      responses:
        '200':
          description: Horarios libres; no expone horarios ocupados.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/Availability' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /appointments:
    post:
      operationId: createAppointment
      summary: Crear una cita sin pago
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema:
            type: string
            minLength: 16
            maxLength: 128
            pattern: '^[A-Za-z0-9._:-]+$'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateAppointment' }
      responses:
        '201':
          description: Cita creada
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/Appointment' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409':
          description: Horario ocupado, idempotencia en conflicto o Amelia rechazó la cita.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
  /appointments/{external_reference}:
    get:
      operationId: getAppointment
      summary: Consultar una cita creada por la misma credencial
      parameters:
        - in: path
          name: external_reference
          required: true
          schema:
            type: string
            maxLength: 100
            pattern: '^[A-Za-z0-9._:-]+$'
      responses:
        '200':
          description: Estado actual de la cita
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/Appointment' }
        '404':
          description: La referencia no pertenece a la credencial o no existe.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
  /appointments/{external_reference}/reschedule:
    patch:
      operationId: rescheduleAppointment
      summary: Reprogramar una cita creada por la misma credencial
      parameters:
        - in: path
          name: external_reference
          required: true
          schema:
            type: string
            maxLength: 100
            pattern: '^[A-Za-z0-9._:-]+$'
        - in: header
          name: Idempotency-Key
          required: true
          schema:
            type: string
            minLength: 16
            maxLength: 128
            pattern: '^[A-Za-z0-9._:-]+$'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RescheduleAppointment' }
      responses:
        '200':
          description: Cita reprogramada
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/Appointment' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404':
          description: La referencia no pertenece a la credencial o no existe.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '409':
          description: Horario ocupado, cita no reprogramable o conflicto de idempotencia.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '429':
          description: La cita alcanzó el límite de reprogramaciones de la clave.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: VirtualMD API key
  responses:
    BadRequest:
      description: Solicitud inválida
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorEnvelope' }
    Unauthorized:
      description: Credencial ausente o inválida
      content:
        application/json:
          schema: { $ref: '#/components/schemas/WordPressError' }
    Unavailable:
      description: Dependencia no disponible
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorEnvelope' }
  schemas:
    Envelope:
      type: object
      required: [data, meta]
      properties:
        data: {}
        meta:
          $ref: '#/components/schemas/Meta'
    Meta:
      type: object
      required: [request_id]
      properties:
        request_id: { type: string, format: uuid }
    ErrorEnvelope:
      type: object
      required: [error, meta]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code: { type: string }
            message: { type: string }
        meta: { $ref: '#/components/schemas/Meta' }
    WordPressError:
      type: object
      properties:
        code: { type: string }
        message: { type: string }
        data:
          type: object
          properties:
            status: { type: integer }
    HealthResponse:
      allOf:
        - $ref: '#/components/schemas/Envelope'
        - type: object
          properties:
            data:
              type: object
              properties:
                status: { type: string, enum: [ready, degraded] }
                version: { type: string }
                dependencies:
                  type: object
                  additionalProperties: { type: boolean }
    Category:
      type: object
      required: [id, name, services]
      properties:
        id: { type: integer }
        name: { type: string }
        services:
          type: array
          items: { $ref: '#/components/schemas/Service' }
    Service:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        mode: { type: string, example: Videoconsulta }
        duration_minutes: { type: integer }
        list_price: { type: number, format: float }
        currency: { type: string, example: MXN }
    Doctor:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        specialties:
          type: array
          items: { type: string }
        image_url: { type: string, format: uri, nullable: true }
        profile_url: { type: string, format: uri, nullable: true }
        title: { type: string }
        summary: { type: string }
    Availability:
      type: object
      properties:
        timezone: { type: string, example: America/Mexico_City }
        service_id: { type: integer }
        provider_id: { type: integer, nullable: true }
        from: { type: string, format: date }
        to: { type: string, format: date }
        slots:
          type: array
          items:
            type: object
            properties:
              starts_at: { type: string, format: date-time }
              provider_ids:
                type: array
                items: { type: integer }
    CreateAppointment:
      type: object
      additionalProperties: false
      required: [external_reference, service_id, starts_at, patient, consent]
      properties:
        external_reference:
          type: string
          maxLength: 100
          pattern: '^[A-Za-z0-9._:-]+$'
        patient_reference: { type: string, maxLength: 100 }
        service_id: { type: integer, minimum: 1 }
        provider_id:
          type: integer
          minimum: 1
          description: Si se omite, se asigna un doctor disponible.
        starts_at:
          type: string
          format: date-time
          description: Debe incluir zona horaria y segundos 00.
        patient:
          $ref: '#/components/schemas/Patient'
        consent:
          $ref: '#/components/schemas/Consent'
        reason: { type: string, maxLength: 500 }
    Patient:
      type: object
      additionalProperties: false
      required: [first_name, last_name, email, phone]
      properties:
        first_name: { type: string, maxLength: 80 }
        last_name: { type: string, maxLength: 80 }
        email: { type: string, format: email }
        phone:
          type: string
          pattern: '^\+[1-9][0-9]{7,14}$'
        country_phone_iso: { type: string, pattern: '^[A-Z]{2}$', default: MX }
        birth_date: { type: string, format: date }
    Consent:
      type: object
      required: [privacy_accepted, booking_authorized, accepted_at]
      properties:
        privacy_accepted: { type: boolean, enum: [true] }
        booking_authorized: { type: boolean, enum: [true] }
        accepted_at: { type: string, format: date-time }
    RescheduleAppointment:
      type: object
      additionalProperties: false
      required: [starts_at]
      properties:
        starts_at:
          type: string
          format: date-time
          description: Nuevo horario con zona horaria; los segundos deben ser 00.
        provider_id:
          type: integer
          minimum: 1
          description: Si se omite, se asigna un doctor disponible.
    Appointment:
      type: object
      properties:
        external_reference: { type: string }
        patient_reference: { type: string, nullable: true }
        status: { type: string, example: approved }
        service_id: { type: integer }
        provider_id: { type: integer }
        starts_at: { type: string, format: date-time }
        reschedule_count: { type: integer, minimum: 0 }
        created_at: { type: string, format: date-time }
